@model StudentCourseViewList
@{
    ViewBag.Title = "Dashboard";
    var claims = _session.Get<List<KUSYS.Model.RoleClaim>>("StudentClaims");
    var permission = claims != null && claims.Select(x => x.DefaultClaim.UserRight).ToList().Contains("StudentManagement") || claims != null && claims.Select(x => x.DefaultClaim.UserRight).ToList().Contains("SelectCourse");
}

<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>Ders Listesi</td>
                            <td>-</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Students)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>
                                    @for (int i = 0; i < Model.Courses.Count(); i++)
                                    {
                                        if (i == (Model.Courses.Count() - 1))
                                        {
                                            <text>@Model.Courses[i].CourseName</text>
                                        }
                                        else
                                        {
                                            <text>@Model.Courses[i].CourseName - </text>
                                        }
                                    }
                                </td>
                                <td>
                                    @if (claims != null && claims.Select(x => x.DefaultClaim.UserRight).ToList().Contains("StudentManagement")
                                   || claims != null && claims.Select(x => x.DefaultClaim.UserRight).ToList().Contains("SelectCourse"))
                                    {
                                        <button class="btn btn-sm btn-primary courses" data-id="@item.StudentId">Ders Seç</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-sm btn-primary courses" data-id="@item.StudentId">Kurs Listesi</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="course-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eşleştirilen Dersler</h4>
            </div>
            <div class="modal-body">
                <div class="courseList"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Kapat</button>
                @if (claims != null && claims.Select(x => x.DefaultClaim.UserRight).ToList().Contains("StudentManagement")
                    || claims != null && claims.Select(x => x.DefaultClaim.UserRight).ToList().Contains("SelectCourse"))
                {
                    <button class="btn btn-primary waves-effect waves-light" id="updateCourses">Değişiklikleri Uygula</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(document).ready(function () {
            let selectList = [];
            let studentId = "";
            let permission = "@permission";
            $("body").on("click", ".courses", function () {
                studentId = $(this).attr("data-id");
                $.get("/Home/GetCourses?id=" + studentId, function (response) {
                    var retHtml = "";

                    for (i in response.data) {
                        var item = response.data[i];
                        retHtml += '<div>';
                        if (item.isActive) {
                            if(permission == "True"){
                                retHtml += '<input type="checkbox" class="mr-2" checked id="' + item.courseId + '" name="' + item.courseId + '" value="' + item.courseId + '">' +
                                    '<label for="' + item.courseId + '">' + item.courseName + '</label><br>';
                            }
                            else{
                                retHtml += '<label for="' + item.courseId + '">' + item.courseName + '</label><br>';
                            }
                            
                        }
                        else {
                            if (permission == "True") {
                                retHtml += '<input type="checkbox" class="mr-2" id="' + item.courseId + '" name="' + item.courseId + '" value="' + item.courseId + '">' +
                                    '<label for="' + item.courseId + '">' + item.courseName + '</label><br>';
                            }
                            else {
                                retHtml += '<label for="' + item.courseId + '">' + item.courseName + '</label><br>';
                            }
                        }
                        retHtml += '</div>';
                    }

                    $(".courseList").html(retHtml);
                    $("#course-Modal").modal({
                        show: true,
                        keyboard: true,
                    });
                });
            });

            $("body").on("click", "#updateCourses", function (e) {
                if (permission == "True") {
                    selectItem();

                    if (selectList.length <= 0) { main.ShowError("Hay Aksi", "Atanacak ders seçilmemiş"); $("#course-Modal").modal('hide'); return false; }

                    var postData = {};
                    postData.courseList = selectList;
                    postData.studentId = studentId;
                    var ajax_settings = {};
                    ajax_settings.url = "/Home/AddCourse";
                    ajax_settings.method = "POST";
                    ajax_settings.data = postData;

                    main.AjaxHelper(ajax_settings, function (e) {
                        if (e.isSucceed) {
                            $("#course-Modal").modal('hide');
                            main.SuccessActionMessage("Başarılı", "Ders atama işlemi tamamlanmıştır","");
                        }
                        else {
                            $("#course-Modal").modal('hide');
                            main.ShowError("Hay Aksi", e.message);
                        }
                    });
                }
            });

            function selectItem() {
                selectList = [];
                $("input[type='checkbox']").each(function (index, element) {
                    if ($(element).is(":checked")) {
                        selectList.push($(element).val());
                    }
                });
            }
        });
    </script>
}